$primary: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;

$primary-active: #3a8ee6;
$success-active: #5daf34;
$warning-active: #cf9236;
$danger-active: #dd6161;
$info-active: #82848a;
$font-size: 12px;
$border-radius: 4px;
$default-font-color: #fff;
$default-box-shadow: 2px 2px 0 0 #ccc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
